* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #b5d1df;
}

/* Nav-bar */

.navbar-brand {
    font-size: 2rem;
    color: #023047;
    font-family: 'Pattaya', sans-serif;
}

.navbar {
    background-color: #ffb703;
    border-bottom: 10px solid #023047;
}

.nav-link {
    color: #023047;
}

.nav-link:hover {
    background-color: #023047;
    color: #ffb703;
    transition: 0.3s;
}

.nav-item {
    font-weight: 500;
    padding-left: 35px;
}

.navbar-toggler {
    
    background-color: #ffb703;
    border: 1px solid #023047;
}

/* Home Section */

.home {
    background: url(../img/sunset.jpg) no-repeat;
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}

.home h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #f0f8ff;
}

/* Destinations */

.dest h1 {
    font-size: 3rem;
    color: #023047;
}

.learnmore {
    background-color: #ffb703;
    color: #023047;
}

.learnmore:hover {
    background-color: #023047;
    color: #ffb703;
    transition: 0.3s;
}

/* Footer */

footer {
    background-color: #023047;
    color: #ffb703;
    border-top: 10px solid #ffb703;
}